# --- .NET ---
bin/
obj/
out/

# --- Node / Vite ---
node_modules/
dist/

# --- IDE ---
.vscode/
.vs/

# --- Logs ---
*.log

# --- Docs ---
*.md

# --- User files ---
*.user
*.suo

# --- Environment ---
.env
.env.*

# --- Docker ---
Dockerfile*
docker-compose*
pgdata/

# --- OS ---
.DS_Store
Thumbs.db
