# --- .NET ---
bin/
obj/
out/
*.user
*.suo
appsettings.*.json


# --- Visual Studio ---
.vs/

# --- VS Code ---
.vscode
# --- Node / Vite ---
node_modules/
dist
*.log

# --- Environment ---
.env
.env.production
.venv

# --- Docker ---
pgdata/
docker-compose.override.yml

# --- OS ---
.DS_Store
Thumbs.db

# --- Azure Functions ---
__azurite_db_*.json
local.settings.json
__pycache__
__blobstorage__
__queuestorage__